:root {
	--white-color: #fff;
	--black-color: #000;
	--grey-color: #c4cccc;
	--corn-color: #b19d82;
	--navy-color: #292a2d;
	--ice-blue-color: #daebf5;
	--madras-color: #8a4f2f;
	--blue-surf-color: #cad9d6;
	--linen-color: #f3e7d7;
	--ivory-color: #edece7;
	--dark-coffee-color: #3a3434;
	--chestnut-color: #452d2b;
	--stone-color: #e2dbd1;
	--pool-color: #cbdbda;
	--asphalt-color: #7c7c81;
}